<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<commands>
			<command name="itemurlhelper:menuItem" type="Sitecore.SharedSource.ItemUrlHelper.CustomSitecore.Commands.CopyItemUrlMenuItem, Sitecore.SharedSource.ItemUrlHelper" />
			<command name="itemurlhelper:subMenuItem" type="Sitecore.SharedSource.ItemUrlHelper.CustomSitecore.Commands.CopyItemUrlSubMenuItem, Sitecore.SharedSource.ItemUrlHelper" />
		</commands>
		<pipelines>
			<search>
				<processor type="Sitecore.SharedSource.ItemUrlHelper.CustomSitecore.Pipelines.ItemResolverByUrl, Sitecore.SharedSource.ItemUrlHelper" />
			</search>
		</pipelines>
	</sitecore>
</configuration>