<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<commands>
			<command name="itemurlhelper:menuItem" type="Sitecore.SharedSource.ItemUrlHelper.CustomSitecore.Commands.CopyItemUrlMenuItem, Sitecore.SharedSource.ItemUrlHelper" />
			<command name="itemurlhelper:subMenuItem" type="Sitecore.SharedSource.ItemUrlHelper.CustomSitecore.Commands.CopyItemUrlSubMenuItem, Sitecore.SharedSource.ItemUrlHelper" />
		</commands>
		<pipelines>
			<search>
				<processor type="Sitecore.SharedSource.ItemUrlHelper.CustomSitecore.Pipelines.ItemResolverByUrl, Sitecore.SharedSource.ItemUrlHelper" />
			</search>
		</pipelines>
		<itemUrlHelper>
			<!-- This section maps a site to a url. -->
			<!-- With multiple site solutions we cannot query off the host name and we need to map out sites to their urls. -->
			<siteurls>
				<!-- name: Name of the site listed in <sites> section of the web.config -->
				<!-- url: Url for the corresponding site -->
        <!-- default: (Optional) Boolean value to denote a fallback site in multi-site environments when the current site is ambiguous. -->

				<!-- Example -->
				<!--<site name="website" url="http://sandbox.com" default="true" />-->
			</siteurls>
			<processUrl>
				<processor type="Sitecore.SharedSource.ItemUrlHelper.ProcessUrl.GetDevice, Sitecore.SharedSource.ItemUrlHelper" />
				<processor type="Sitecore.SharedSource.ItemUrlHelper.ProcessUrl.GetItem, Sitecore.SharedSource.ItemUrlHelper" />
				<processor type="Sitecore.SharedSource.ItemUrlHelper.ProcessUrl.GetUrl, Sitecore.SharedSource.ItemUrlHelper" />
				<processor type="Sitecore.SharedSource.ItemUrlHelper.ProcessUrl.GetMediaUrl, Sitecore.SharedSource.ItemUrlHelper" />
				<processor type="Sitecore.SharedSource.ItemUrlHelper.ProcessUrl.CleanUrl, Sitecore.SharedSource.ItemUrlHelper" />
				<processor type="Sitecore.SharedSource.ItemUrlHelper.ProcessUrl.AppendHost, Sitecore.SharedSource.ItemUrlHelper" />
			</processUrl>
			<cleanUrl>
				<clean value="/sitecore/shell" type="Sitecore.SharedSource.ItemUrlHelper.ProcessUrl.Clean.RemoveCleanUrl, Sitecore.SharedSource.ItemUrlHelper" />
				<clean value="sitecore/content/home/" type="Sitecore.SharedSource.ItemUrlHelper.ProcessUrl.Clean.RemoveCleanUrl, Sitecore.SharedSource.ItemUrlHelper" />
				<clean value=" " replaceWith="-" type="Sitecore.SharedSource.ItemUrlHelper.ProcessUrl.Clean.ReplaceCleanUrl, Sitecore.SharedSource.ItemUrlHelper" />
				<clean value="%20" replaceWith="-" type="Sitecore.SharedSource.ItemUrlHelper.ProcessUrl.Clean.ReplaceCleanUrl, Sitecore.SharedSource.ItemUrlHelper" />
				<clean value="/en/" replaceWith="/" type="Sitecore.SharedSource.ItemUrlHelper.ProcessUrl.Clean.ReplaceCleanUrl, Sitecore.SharedSource.ItemUrlHelper" />
			</cleanUrl>
		</itemUrlHelper>
	</sitecore>
</configuration>